/*********************************************
 *  Presentation
 *********************************************/
.presentation {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

.presentation__texte {
  
  font-size: 20px;
  padding-bottom: 15px;
}

.presentation__container {
  padding: 15px;
}